In [1]:
!pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.1.0-cp39-cp39-win_amd64.whl (180 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [9]:
!pip install flask_sqlalchemy

Collecting flask_sqlalchemy
  Downloading Flask_SQLAlchemy-2.5.1-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: SQLAlchemy>=0.8.0 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from flask_sqlalchemy) (1.4.31)
Collecting Flask>=0.10
  Downloading Flask-2.0.3-py3-none-any.whl (95 kB)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from SQLAlchemy>=0.8.0->flask_sqlalchemy) (1.1.2)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.0.1-py3-none-any.whl (18 kB)
Requirement already satisfied: Jinja2>=3.0 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (3.0.3)
Requirement already satisfied: click>=7.1.2 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (8.0.3)
Collecting Werkzeug>=2.0
  Downloading Werkzeug-2.0.3-py3-none-any.whl (289 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from Jinja2>=3.0->Flask>=0.10->flask_sqlalchemy) (2.0.1)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from click>=7.1.2->Flask>=0.10->flask_sqlalchemy) (0.4.4)
Installing collected packages: itsdangerous, Werkzeug, Flask, flask-sqlalchemy
Successfully installed Flask-2.0.3 Werkzeug-2.0.3 flask-sqlalchemy-2.5.1 itsdangerous-2.0.1

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\scripts\python.exe -m pip install --upgrade pip' command.

In [27]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import os
import pymysql.cursors
# from flask_sqlalchemy import SQLAlchemy

In [3]:
# https://pypi.org/project/PyMySQL/
conn  = pymysql.connect(host='localhost',
                             user='root',
                             password='123',
                             database='trabalho_pratico',
                             cursorclass=pymysql.cursors.DictCursor)
def inserir(sql, value):
    connection  = pymysql.connect(host='localhost',
                             user='root',
                             password='123',
                             database='trabalho_pratico',
                             cursorclass=pymysql.cursors.DictCursor)
    with connection:
        with connection.cursor() as cursor:
            # Create a new record
            #sql = "INSERT INTO `bebida` (`bebida`) VALUES (%s)"
            #cursor.execute(sql, ('teste'))
            cursor.executemany(sql, value)

        # connection is not autocommit by default. So you must commit to save
        # your changes.
        connection.commit()

In [111]:
dataframe = pd.read_csv( 'unico_arquivo.csv', sep = ';', encoding='latin-1' )
dataframe

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte
2123,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte
2124,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV
2125,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros
2126,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros

In [5]:
df_pessoas = dataframe[['cod_pessoa','genero','data_nascimento']].drop_duplicates()
df_animal = list(dataframe.animal_estimacao.unique())
df_bebida = list(dataframe.bebida_favorita.unique())
df_clima = list(dataframe.clima.unique())
df_hobbie = list(dataframe.hobbies.unique())

In [6]:
df_pessoas[:10]

   cod_pessoa     genero data_nascimento
0    10141743  Masculino      1981-04-25
1    10141860   Feminino      1966-01-19
2    10142548  Masculino      1973-08-02
3    10142591  Masculino      1997-03-05
4    10142654   Feminino      1969-08-05
5    10141523   Feminino      1998-09-24
6    10141996   Feminino      1973-03-13
7    10142089   Feminino      1970-03-23
8    10142145  Masculino      1998-08-01
9    10142520  Masculino      1994-05-09

In [7]:
df_animal[:10]

['peixe', 'tartaruga', 'gato', 'cachorro']

In [11]:
query = f"""INSERT INTO pessoa VALUES (%s,%s,%s)"""
pessoas = []
for pessoa in df_pessoas.itertuples():
    cod_pessoa = pessoa.cod_pessoa
    genero = pessoa.genero
    data_nascimento = pessoa.data_nascimento
    pessoas.append([cod_pessoa, genero, data_nascimento])


try:
    inserir(query,pessoas)
    print(f"Registro inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Registro inserido com sucesso:

In [12]:
df_hobbie

['Praticar esporte',
 'Assistir TV',
 'Ler livros',
 'Aprender algo novo',
 'Escrever',
 'Pintar quadros',
 'Dormir',
 'Escutar música']

In [13]:
query = f"""INSERT INTO hobbie (hobbie) VALUES (%s)"""
hobbies = []
for hobbie in df_hobbie:
    hobbies.append([hobbie])
    
hobbies
try:
    inserir(query,hobbies)
    print(f"Registro inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Registro inserido com sucesso:

In [14]:
query = f"""INSERT INTO clima (clima) VALUES (%s)"""
climas = []
for clima in df_clima:
    climas.append([clima])


try:
    inserir(query,climas)
    print(f"Clima inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Clima inserido com sucesso:

In [15]:
query = f"""INSERT INTO bebida (bebida) VALUES (%s)"""
bebidas = []
for bebida in df_bebida:
    bebidas.append([bebida])


try:
    inserir(query,bebidas)
    print(f"Bebida inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Bebida inserido com sucesso:

In [16]:
query = f"""INSERT INTO animal_estimacao (animal) VALUES (%s)"""
animais = []
for animal in df_animal:
    animais.append([animal])


try:
    inserir(query,animais)
    print(f"Animais inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Animais inserido com sucesso:

# Exportando para arquivo

In [10]:
df_vendas.to_csv('unico_arquivo.csv', sep = ';', encoding='latin-1', index=False)

In [72]:
sql = "SELECT * FROM `animal_estimacao`"
animais = pd.read_sql(sql, conn)
print(animais)

   cod_animal_estimacao     animal
0                     1      peixe
1                     2  tartaruga
2                     3       gato
3                     4   cachorro

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [96]:
sql = "SELECT * FROM `bebida`"
bebidas = pd.read_sql(sql, conn)
print(bebidas)

   cod_bebida        bebida
0           1       Cerveja
1           2          Café
2           3  refrigerante
3           4          Água
4           5         Vinho
5           6           Chá

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [73]:
sql = "SELECT * FROM `clima`"
climas = pd.read_sql(sql, conn)
print(climas)

   cod_clima     clima
0          1      frio
1          2    quente
2          3  moderado

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [69]:
sql = "SELECT * FROM `hobbie`"
hobbies = pd.read_sql(sql, conn)
hobbies

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   cod_hobbie              hobbie
0           1    Praticar esporte
1           2         Assistir TV
2           3          Ler livros
3           4  Aprender algo novo
4           5            Escrever
5           6      Pintar quadros
6           7              Dormir
7           8      Escutar música

In [74]:
sql = "SELECT * FROM `pessoa`"
dfpessoa = pd.read_sql(sql, conn)
print(dfpessoa[:10])

   cod_pessoa     genero data_nascimento
0    10141501   Feminino      1984-05-22
1    10141502  Masculino      1998-06-27
2    10141503  Masculino      1963-02-18
3    10141504  Masculino      1979-09-09
4    10141505  Masculino      1958-10-04
5    10141506  Masculino      1982-12-19
6    10141507  Masculino      1961-05-22
7    10141508  Masculino      1957-09-23
8    10141509  Masculino      1979-09-24
9    10141510  Masculino      1978-11-29

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [112]:
coleta = dataframe
coleta

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte
2123,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte
2124,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV
2125,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros
2126,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros

In [84]:

dict_hobbie = hobbies.set_index(hobbies.hobbie)['cod_hobbie'].to_dict()
dict_hobbie

{'Praticar esporte': 1,
 'Assistir TV': 2,
 'Ler livros': 3,
 'Aprender algo novo': 4,
 'Escrever': 5,
 'Pintar quadros': 6,
 'Dormir': 7,
 'Escutar música': 8}

In [85]:
dict_animais = animais.set_index(animais.animal)['cod_animal_estimacao'].to_dict()
dict_animais

{'peixe': 1, 'tartaruga': 2, 'gato': 3, 'cachorro': 4}

In [94]:
dict_clima = climas.set_index(climas.clima)['cod_clima'].to_dict()
dict_clima

{'frio': 1, 'quente': 2, 'moderado': 3}

In [108]:
dict_bebida = bebidas.set_index(bebidas.bebida)['cod_bebida'].to_dict()
dict_bebida

{'Cerveja': 1, 'Café': 2, 'refrigerante': 3, 'Água': 4, 'Vinho': 5, 'Chá': 6}

In [113]:
coleta.hobbies = coleta.hobbies.map(dict_hobbie)

In [114]:
coleta.animal_estimacao = coleta.animal_estimacao.map(dict_animais)
coleta

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,1,frio,Cerveja,1
1,10141860,2020-01-01,Feminino,1966-01-19,1,quente,Café,2
2,10142548,2020-01-01,Masculino,1973-08-02,2,frio,Café,3
3,10142591,2020-01-01,Masculino,1997-03-05,3,moderado,Cerveja,4
4,10142654,2020-01-01,Feminino,1969-08-05,2,moderado,Café,2
...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,1,quente,Café,1
2123,10142522,2020-12-31,Masculino,1954-12-22,1,moderado,Cerveja,1
2124,10142881,2020-12-31,Masculino,1952-07-30,3,frio,refrigerante,2
2125,10143184,2020-12-31,Masculino,1984-06-05,2,quente,refrigerante,6
2126,10143307,2020-12-31,Masculino,1971-08-29,2,moderado,refrigerante,6

In [115]:
coleta.clima = coleta.clima.map(dict_clima)
coleta

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,1,1,Cerveja,1
1,10141860,2020-01-01,Feminino,1966-01-19,1,2,Café,2
2,10142548,2020-01-01,Masculino,1973-08-02,2,1,Café,3
3,10142591,2020-01-01,Masculino,1997-03-05,3,3,Cerveja,4
4,10142654,2020-01-01,Feminino,1969-08-05,2,3,Café,2
...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,1,2,Café,1
2123,10142522,2020-12-31,Masculino,1954-12-22,1,3,Cerveja,1
2124,10142881,2020-12-31,Masculino,1952-07-30,3,1,refrigerante,2
2125,10143184,2020-12-31,Masculino,1984-06-05,2,2,refrigerante,6
2126,10143307,2020-12-31,Masculino,1971-08-29,2,3,refrigerante,6

In [116]:
coleta.bebida_favorita = coleta.bebida_favorita.map(dict_bebida)
coleta

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,1,1,1,1
1,10141860,2020-01-01,Feminino,1966-01-19,1,2,2,2
2,10142548,2020-01-01,Masculino,1973-08-02,2,1,2,3
3,10142591,2020-01-01,Masculino,1997-03-05,3,3,1,4
4,10142654,2020-01-01,Feminino,1969-08-05,2,3,2,2
...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,1,2,2,1
2123,10142522,2020-12-31,Masculino,1954-12-22,1,3,1,1
2124,10142881,2020-12-31,Masculino,1952-07-30,3,1,3,2
2125,10143184,2020-12-31,Masculino,1984-06-05,2,2,3,6
2126,10143307,2020-12-31,Masculino,1971-08-29,2,3,3,6

In [118]:
coleta_db = []

for col in coleta.itertuples():
    coleta_db.append([col.data_coleta, col.cod_pessoa, col.animal_estimacao, col.bebida_favorita, col.hobbies, col.clima])

coleta_db

[['2020-01-01', 10141743, 1, 1, 1, 1],
 ['2020-01-01', 10141860, 1, 2, 2, 2],
 ['2020-01-01', 10142548, 2, 2, 3, 1],
 ['2020-01-01', 10142591, 3, 1, 4, 3],
 ['2020-01-01', 10142654, 2, 2, 2, 3],
 ['2020-01-02', 10141523, 3, 1, 4, 2],
 ['2020-01-02', 10141996, 2, 3, 5, 2],
 ['2020-01-02', 10142089, 3, 4, 6, 3],
 ['2020-01-02', 10142145, 1, 3, 5, 1],
 ['2020-01-02', 10142520, 1, 2, 1, 3],
 ['2020-01-02', 10143160, 2, 5, 7, 3],
 ['2020-01-03', 10141712, 1, 6, 1, 3],
 ['2020-01-03', 10141987, 4, 6, 5, 1],
 ['2020-01-03', 10142093, 3, 3, 6, 1],
 ['2020-01-03', 10142325, 3, 3, 7, 2],
 ['2020-01-03', 10142552, 2, 2, 2, 2],
 ['2020-01-03', 10142598, 4, 2, 3, 3],
 ['2020-01-03', 10143013, 3, 4, 2, 1],
 ['2020-01-04', 10141570, 2, 1, 4, 2],
 ['2020-01-04', 10141851, 3, 2, 3, 3],
 ['2020-01-04', 10141938, 3, 2, 5, 3],
 ['2020-01-04', 10142733, 2, 1, 6, 2],
 ['2020-01-04', 10142851, 3, 3, 7, 1],
 ['2020-01-04', 10142941, 3, 5, 1, 2],
 ['2020-01-04', 10143484, 3, 2, 7, 3],
 ['2020-01-05', 10141877, 2, 3, 6, 3],
 ['2020-01-05', 10142310, 1, 1, 4, 2],
 ['2020-01-05', 10142471, 4, 6, 4, 1],
 ['2020-01-05', 10142597, 3, 6, 3, 1],
 ['2020-01-05', 10143070, 4, 6, 3, 1],
 ['2020-01-05', 10143526, 4, 5, 4, 1],
 ['2020-01-06', 10141671, 3, 3, 4, 2],
 ['2020-01-06', 10142969, 3, 5, 8, 3],
 ['2020-01-06', 10143233, 2, 1, 6, 2],
 ['2020-01-07', 10141745, 4, 1, 7, 2],
 ['2020-01-07', 10141826, 1, 3, 5, 3],
 ['2020-01-07', 10142330, 3, 3, 4, 3],
 ['2020-01-07', 10142711, 4, 4, 4, 3],
 ['2020-01-07', 10143397, 1, 2, 6, 1],
 ['2020-01-08', 10141581, 2, 6, 2, 1],
 ['2020-01-08', 10141733, 1, 4, 2, 1],
 ['2020-01-08', 10141836, 4, 3, 5, 2],
 ['2020-01-08', 10141862, 2, 2, 1, 2],
 ['2020-01-08', 10143185, 3, 6, 4, 1],
 ['2020-01-08', 10143284, 1, 2, 8, 2],
 ['2020-01-08', 10143286, 3, 2, 5, 2],
 ['2020-01-09', 10141861, 1, 3, 3, 3],
 ['2020-01-09', 10142291, 1, 3, 6, 1],
 ['2020-01-09', 10142360, 3, 6, 2, 1],
 ['2020-01-09', 10142498, 2, 5, 1, 2],
 ['2020-01-09', 10142687, 1, 2, 4, 1],
 ['2020-01-09', 10142984, 1, 5, 2, 1],
 ['2020-01-09', 10143351, 3, 2, 4, 3],
 ['2020-01-09', 10143396, 1, 2, 2, 1],
 ['2020-01-09', 10143608, 3, 2, 3, 1],
 ['2020-01-10', 10141521, 3, 1, 2, 1],
 ['2020-01-10', 10141653, 2, 1, 5, 2],
 ['2020-01-10', 10142206, 4, 1, 4, 2],
 ['2020-01-10', 10142556, 3, 4, 3, 2],
 ['2020-01-10', 10142828, 3, 2, 4, 2],
 ['2020-01-10', 10143119, 3, 2, 2, 1],
 ['2020-01-10', 10143472, 1, 5, 4, 3],
 ['2020-01-11', 10141942, 1, 6, 6, 1],
 ['2020-01-11', 10142080, 4, 5, 4, 3],
 ['2020-01-11', 10142218, 3, 4, 2, 1],
 ['2020-01-11', 10142782, 3, 4, 2, 1],
 ['2020-01-11', 10142939, 3, 2, 4, 2],
 ['2020-01-11', 10143031, 2, 5, 6, 2],
 ['2020-01-11', 10143579, 2, 2, 8, 2],
 ['2020-01-12', 10141504, 3, 1, 5, 3],
 ['2020-01-12', 10141607, 2, 3, 5, 2],
 ['2020-01-12', 10141999, 1, 4, 8, 2],
 ['2020-01-12', 10142201, 4, 4, 3, 2],
 ['2020-01-12', 10142266, 2, 3, 2, 2],
 ['2020-01-12', 10142925, 4, 1, 2, 2],
 ['2020-01-12', 10143169, 1, 1, 3, 1],
 ['2020-01-13', 10141518, 2, 4, 4, 1],
 ['2020-01-13', 10142083, 3, 4, 7, 3],
 ['2020-01-13', 10142537, 4, 1, 5, 2],
 ['2020-01-13', 10142628, 3, 5, 4, 3],
 ['2020-01-13', 10142815, 4, 2, 7, 2],
 ['2020-01-13', 10142923, 4, 6, 2, 2],
 ['2020-01-14', 10141822, 3, 5, 8, 2],
 ['2020-01-14', 10142560, 1, 1, 3, 1],
 ['2020-01-14', 10142562, 3, 4, 7, 2],
 ['2020-01-14', 10142773, 3, 2, 8, 2],
 ['2020-01-14', 10142931, 2, 5, 7, 1],
 ['2020-01-14', 10143028, 3, 2, 1, 1],
 ['2020-01-14', 10143140, 3, 4, 2, 1],
 ['2020-01-14', 10143199, 3, 3, 7, 2],
 ['2020-01-15', 10142171, 3, 1, 5, 3],
 ['2020-01-15', 10142179, 4, 1, 2, 2],
 ['2020-01-15', 10142530, 3, 1, 1, 2],
 ['2020-01-15', 10143547, 3, 4, 7, 2],
 ['2020-01-15', 10143621, 3, 4, 8, 1],
 ['2020-01-16', 10142036, 2, 4, 8, 1],
 ['2020-01-16', 10142053, 1, 3, 1, 2],
 ['2020-01-17', 10141582, 3, 2, 3, 3],
 ['2020-01-17', 10142028, 3, 1, 1, 2],
 ['2020-01-17', 10142452, 2, 6, 7, 1],
 ['2020-01-17', 10143075, 3, 4, 2, 3],
 ['2020-01-17', 10143273, 3, 3, 7, 2],
 ['2020-01-17', 10143371, 3, 5, 2, 3],
 ['2020-01-18', 10141615, 4, 2, 1, 1],
 ['2020-01-18', 10141659, 3, 2, 4, 1],
 ['2020-01-18', 10141677, 4, 6, 2, 1],
 ['2020-01-18', 10141835, 2, 2, 6, 1],
 ['2020-01-18', 10141926, 1, 3, 7, 3],
 ['2020-01-18', 10141968, 2, 5, 8, 2],
 ['2020-01-18', 10142317, 4, 2, 8, 1],
 ['2020-01-18', 10142641, 2, 4, 6, 1],
 ['2020-01-18', 10143080, 3, 2, 3, 1],
 ['2020-01-18', 10143191, 4, 6, 8, 2],
 ['2020-01-18', 10143509, 3, 4, 7, 2],
 ['2020-01-18', 10143590, 2, 2, 5, 3],
 ['2020-01-19', 10141520, 2, 3, 1, 2],
 ['2020-01-19', 10141747, 1, 6, 8, 1],
 ['2020-01-19', 10142084, 3, 5, 6, 3],
 ['2020-01-19', 10142120, 1, 6, 8, 3],
 ['2020-01-19', 10142175, 3, 5, 7, 3],
 ['2020-01-19', 10142816, 4, 5, 6, 2],
 ['2020-01-19', 10143073, 2, 2, 8, 3],
 ['2020-01-19', 10143079, 3, 5, 5, 3],
 ['2020-01-20', 10141580, 3, 2, 5, 2],
 ['2020-01-20', 10142357, 4, 6, 2, 1],
 ['2020-01-20', 10142737, 1, 4, 8, 3],
 ['2020-01-20', 10142792, 2, 5, 6, 2],
 ['2020-01-20', 10143033, 1, 2, 6, 3],
 ['2020-01-20', 10143228, 3, 4, 4, 3],
 ['2020-01-20', 10143240, 2, 5, 5, 3],
 ['2020-01-21', 10141799, 3, 3, 6, 2],
 ['2020-01-21', 10142117, 4, 3, 7, 1],
 ['2020-01-21', 10142380, 1, 6, 5, 2],
 ['2020-01-21', 10142559, 1, 1, 8, 1],
 ['2020-01-21', 10142921, 3, 1, 7, 3],
 ['2020-01-21', 10143421, 2, 4, 7, 1],
 ['2020-01-21', 10143553, 1, 2, 1, 2],
 ['2020-01-22', 10141650, 3, 4, 8, 2],
 ['2020-01-22', 10142470, 3, 4, 3, 1],
 ['2020-01-22', 10142508, 2, 1, 5, 2],
 ['2020-01-22', 10143046, 2, 1, 5, 1],
 ['2020-01-22', 10143133, 4, 1, 1, 2],
 ['2020-01-22', 10143543, 1, 5, 5, 1],
 ['2020-01-23', 10141772, 2, 3, 6, 3],
 ['2020-01-23', 10141947, 1, 1, 5, 3],
 ['2020-01-23', 10142106, 2, 2, 5, 1],
 ['2020-01-23', 10142269, 4, 3, 1, 3],
 ['2020-01-23', 10142525, 4, 5, 8, 3],
 ['2020-01-23', 10143277, 4, 5, 7, 2],
 ['2020-01-24', 10141945, 2, 2, 7, 3],
 ['2020-01-24', 10142043, 4, 1, 3, 3],
 ['2020-01-24', 10142519, 2, 4, 3, 3],
 ['2020-01-24', 10143475, 3, 5, 8, 2],
 ['2020-01-24', 10143613, 3, 6, 6, 2],
 ['2020-01-25', 10141792, 4, 4, 1, 1],
 ['2020-01-25', 10142112, 3, 3, 3, 2],
 ['2020-01-25', 10142388, 2, 1, 7, 3],
 ['2020-01-25', 10142876, 3, 2, 1, 1],
 ['2020-01-25', 10142990, 4, 1, 7, 2],
 ['2020-01-25', 10143163, 2, 1, 4, 2],
 ['2020-01-26', 10141673, 2, 5, 6, 3],
 ['2020-01-26', 10142268, 3, 4, 6, 3],
 ['2020-01-26', 10142756, 3, 3, 5, 1],
 ['2020-01-26', 10142867, 1, 3, 4, 3],
 ['2020-01-26', 10143045, 3, 5, 1, 1],
 ['2020-01-26', 10143424, 2, 6, 1, 3],
 ['2020-01-27', 10142023, 3, 4, 4, 3],
 ['2020-01-27', 10142061, 3, 6, 8, 3],
 ['2020-01-27', 10142545, 4, 4, 8, 2],
 ['2020-01-27', 10143092, 1, 3, 8, 3],
 ['2020-01-28', 10142051, 4, 6, 3, 2],
 ['2020-01-28', 10142540, 3, 1, 1, 1],
 ['2020-01-28', 10143157, 4, 3, 2, 1],
 ['2020-01-28', 10143276, 1, 6, 4, 1],
 ['2020-01-29', 10142588, 3, 6, 2, 2],
 ['2020-01-29', 10142976, 4, 1, 5, 2],
 ['2020-01-29', 10143146, 4, 1, 5, 2],
 ['2020-01-29', 10143154, 4, 3, 3, 2],
 ['2020-01-29', 10143323, 2, 6, 8, 1],
 ['2020-01-30', 10142512, 3, 3, 2, 3],
 ['2020-01-30', 10142668, 3, 3, 6, 3],
 ['2020-01-30', 10142685, 1, 6, 4, 1],
 ['2020-01-30', 10143086, 4, 3, 5, 1],
 ['2020-01-30', 10143113, 3, 4, 3, 1],
 ['2020-01-30', 10143253, 3, 3, 5, 3],
 ['2020-01-31', 10141565, 3, 5, 3, 1],
 ['2020-01-31', 10142079, 3, 3, 7, 2],
 ['2020-01-31', 10142232, 2, 1, 7, 1],
 ['2020-01-31', 10142572, 1, 1, 2, 3],
 ['2020-01-31', 10142640, 2, 4, 8, 3],
 ['2020-01-31', 10142750, 4, 2, 6, 1],
 ['2020-01-31', 10142918, 3, 4, 7, 3],
 ['2020-01-31', 10142987, 4, 6, 4, 1],
 ['2020-01-31', 10143060, 3, 3, 1, 3],
 ['2020-01-31', 10143120, 1, 2, 7, 1],
 ['2020-02-01', 10142253, 3, 2, 8, 3],
 ['2020-02-01', 10142335, 3, 1, 7, 2],
 ['2020-02-01', 10142369, 3, 1, 8, 1],
 ['2020-02-01', 10142511, 1, 5, 8, 2],
 ['2020-02-01', 10143436, 1, 2, 5, 3],
 ['2020-02-02', 10141679, 4, 2, 5, 2],
 ['2020-02-02', 10142041, 2, 3, 1, 2],
 ['2020-02-02', 10142638, 1, 3, 7, 2],
 ['2020-02-02', 10143389, 2, 3, 5, 3],
 ['2020-02-03', 10141710, 2, 6, 4, 2],
 ['2020-02-03', 10142160, 2, 6, 5, 1],
 ['2020-02-03', 10142172, 3, 3, 2, 1],
 ['2020-02-03', 10142187, 3, 2, 1, 2],
 ['2020-02-03', 10142290, 3, 5, 7, 2],
 ['2020-02-03', 10142983, 4, 4, 5, 3],
 ['2020-02-03', 10143519, 3, 1, 3, 2],
 ['2020-02-03', 10143580, 1, 2, 5, 1],
 ['2020-02-04', 10141554, 4, 4, 7, 1],
 ['2020-02-04', 10141715, 4, 3, 8, 2],
 ['2020-02-04', 10141863, 3, 4, 3, 3],
 ['2020-02-04', 10142247, 4, 5, 7, 2],
 ['2020-02-04', 10142391, 3, 6, 5, 2],
 ['2020-02-04', 10143200, 4, 5, 7, 3],
 ['2020-02-04', 10143250, 3, 3, 7, 1],
 ['2020-02-05', 10141644, 3, 1, 8, 3],
 ['2020-02-05', 10141705, 3, 3, 5, 3],
 ['2020-02-05', 10141966, 3, 4, 7, 3],
 ['2020-02-05', 10142260, 3, 2, 6, 3],
 ['2020-02-05', 10142336, 3, 5, 1, 1],
 ['2020-02-05', 10142610, 4, 3, 2, 3],
 ['2020-02-05', 10143294, 3, 4, 5, 2],
 ['2020-02-06', 10141528, 3, 3, 8, 3],
 ['2020-02-06', 10141668, 3, 2, 7, 1],
 ['2020-02-06', 10141780, 3, 1, 2, 2],
 ['2020-02-06', 10142620, 4, 2, 4, 3],
 ['2020-02-06', 10143298, 4, 2, 8, 1],
 ['2020-02-06', 10143365, 4, 1, 5, 2],
 ['2020-02-07', 10141564, 3, 6, 4, 3],
 ['2020-02-07', 10142270, 1, 5, 1, 2],
 ['2020-02-07', 10143508, 3, 4, 7, 1],
 ['2020-02-07', 10143556, 3, 1, 1, 2],
 ['2020-02-08', 10142186, 3, 2, 7, 3],
 ['2020-02-08', 10142497, 4, 2, 4, 3],
 ['2020-02-08', 10142587, 1, 6, 2, 1],
 ['2020-02-08', 10142652, 4, 1, 4, 3],
 ['2020-02-08', 10142655, 2, 6, 6, 2],
 ['2020-02-08', 10143056, 3, 1, 4, 1],
 ['2020-02-09', 10141577, 4, 4, 2, 2],
 ['2020-02-09', 10141906, 3, 4, 5, 1],
 ['2020-02-09', 10141916, 4, 6, 4, 2],
 ['2020-02-09', 10142009, 4, 1, 6, 2],
 ['2020-02-09', 10142241, 2, 6, 6, 1],
 ['2020-02-09', 10142273, 1, 2, 8, 1],
 ['2020-02-09', 10142617, 3, 2, 8, 2],
 ['2020-02-09', 10143040, 3, 1, 8, 1],
 ['2020-02-10', 10142557, 2, 4, 6, 1],
 ['2020-02-10', 10142820, 2, 3, 1, 2],
 ['2020-02-10', 10143231, 3, 1, 6, 1],
 ['2020-02-10', 10143521, 3, 4, 3, 1],
 ['2020-02-11', 10142109, 1, 2, 2, 2],
 ['2020-02-11', 10142521, 4, 6, 1, 1],
 ['2020-02-11', 10143134, 1, 5, 7, 2],
 ['2020-02-11', 10143180, 1, 4, 7, 2],
 ['2020-02-11', 10143314, 3, 1, 3, 1],
 ['2020-02-11', 10143433, 1, 5, 8, 3],
 ['2020-02-12', 10142462, 1, 2, 8, 1],
 ['2020-02-13', 10142272, 2, 6, 7, 2],
 ['2020-02-13', 10142698, 1, 4, 7, 3],
 ['2020-02-13', 10142935, 3, 5, 7, 1],
 ['2020-02-13', 10143182, 1, 5, 7, 1],
 ['2020-02-13', 10143339, 1, 3, 6, 1],
 ['2020-02-14', 10141750, 2, 3, 4, 2],
 ['2020-02-14', 10142305, 4, 5, 8, 3],
 ['2020-02-14', 10142788, 4, 1, 2, 3],
 ['2020-02-14', 10142890, 2, 1, 2, 2],
 ['2020-02-15', 10141549, 2, 6, 6, 2],
 ['2020-02-15', 10141831, 4, 3, 6, 1],
 ['2020-02-15', 10142542, 1, 6, 2, 1],
 ['2020-02-15', 10142790, 3, 3, 7, 2],
 ['2020-02-15', 10143019, 3, 3, 5, 2],
 ['2020-02-16', 10141853, 2, 5, 3, 3],
 ['2020-02-16', 10142140, 1, 2, 1, 3],
 ['2020-02-16', 10142166, 1, 4, 2, 3],
 ['2020-02-16', 10142669, 2, 2, 5, 1],
 ['2020-02-16', 10142765, 3, 6, 1, 1],
 ['2020-02-16', 10142936, 1, 1, 1, 3],
 ['2020-02-16', 10143226, 1, 3, 3, 2],
 ['2020-02-17', 10141829, 3, 6, 2, 2],
 ['2020-02-17', 10142605, 2, 2, 3, 3],
 ['2020-02-18', 10143398, 4, 4, 6, 1],
 ['2020-02-19', 10142006, 1, 5, 7, 3],
 ['2020-02-19', 10142151, 3, 5, 4, 1],
 ['2020-02-19', 10142354, 1, 4, 6, 1],
 ['2020-02-19', 10143274, 1, 5, 3, 3],
 ['2020-02-20', 10141790, 2, 2, 1, 1],
 ['2020-02-20', 10142110, 3, 5, 4, 3],
 ['2020-02-20', 10142554, 3, 2, 4, 2],
 ['2020-02-20', 10142688, 2, 6, 4, 2],
 ['2020-02-20', 10142768, 2, 4, 2, 3],
 ['2020-02-20', 10143037, 2, 6, 2, 3],
 ['2020-02-20', 10143057, 2, 4, 4, 1],
 ['2020-02-20', 10143104, 1, 5, 4, 3],
 ['2020-02-20', 10143131, 3, 1, 5, 3],
 ['2020-02-21', 10141587, 3, 6, 1, 1],
 ['2020-02-21', 10141630, 2, 6, 8, 3],
 ['2020-02-21', 10142002, 3, 5, 3, 3],
 ['2020-02-21', 10142503, 3, 4, 6, 3],
 ['2020-02-21', 10142625, 1, 4, 6, 2],
 ['2020-02-21', 10142961, 4, 1, 7, 1],
 ['2020-02-21', 10143252, 3, 1, 8, 2],
 ['2020-02-21', 10143356, 2, 1, 1, 3],
 ['2020-02-21', 10143400, 4, 5, 4, 2],
 ['2020-02-21', 10143512, 2, 1, 4, 1],
 ['2020-02-22', 10141681, 2, 5, 8, 1],
 ['2020-02-22', 10142581, 3, 4, 4, 2],
 ['2020-02-22', 10142736, 3, 2, 6, 1],
 ['2020-02-22', 10142839, 3, 2, 1, 3],
 ['2020-02-22', 10143027, 1, 3, 3, 2],
 ['2020-02-22', 10143048, 4, 2, 3, 3],
 ['2020-02-23', 10141526, 3, 6, 3, 2],
 ['2020-02-23', 10141605, 4, 2, 6, 3],
 ['2020-02-23', 10141609, 3, 1, 5, 3],
 ['2020-02-23', 10142249, 2, 5, 4, 1],
 ['2020-02-23', 10142282, 3, 1, 2, 3],
 ['2020-02-23', 10142602, 3, 4, 6, 1],
 ['2020-02-23', 10143026, 4, 6, 2, 1],
 ['2020-02-23', 10143292, 3, 5, 2, 2],
 ['2020-02-24', 10141875, 2, 4, 5, 1],
 ['2020-02-24', 10142372, 4, 6, 6, 1],
 ['2020-02-24', 10143549, 1, 2, 8, 1],
 ['2020-02-25', 10141550, 3, 6, 8, 1],
 ['2020-02-25', 10141751, 3, 5, 2, 2],
 ['2020-02-25', 10141913, 3, 5, 6, 3],
 ['2020-02-25', 10142780, 4, 5, 8, 3],
 ['2020-02-25', 10142848, 3, 1, 3, 3],
 ['2020-02-25', 10142874, 3, 2, 3, 3],
 ['2020-02-25', 10142958, 4, 6, 1, 1],
 ['2020-02-25', 10143176, 4, 1, 7, 1],
 ['2020-02-25', 10143347, 4, 2, 2, 3],
 ['2020-02-26', 10143025, 4, 4, 3, 2],
 ['2020-02-26', 10143301, 1, 1, 6, 3],
 ['2020-02-27', 10142386, 4, 4, 2, 2],
 ['2020-02-27', 10142832, 3, 6, 7, 2],
 ['2020-02-27', 10143316, 4, 5, 8, 1],
 ['2020-02-27', 10143325, 1, 5, 8, 1],
 ['2020-02-28', 10142134, 4, 2, 4, 2],
 ['2020-02-28', 10143055, 4, 1, 6, 1],
 ['2020-02-28', 10143458, 3, 4, 3, 3],
 ['2020-02-28', 10143476, 1, 3, 6, 1],
 ['2020-02-28', 10143482, 4, 1, 2, 3],
 ['2020-02-28', 10143507, 4, 6, 6, 2],
 ['2020-02-28', 10143586, 3, 1, 7, 2],
 ['2020-02-29', 10141783, 3, 3, 5, 2],
 ['2020-02-29', 10142284, 1, 1, 4, 3],
 ['2020-02-29', 10142481, 4, 4, 8, 2],
 ['2020-02-29', 10142683, 3, 2, 6, 1],
 ['2020-02-29', 10142953, 4, 5, 1, 2],
 ['2020-02-29', 10143249, 3, 4, 2, 3],
 ['2020-02-29', 10143380, 3, 4, 4, 3],
 ['2020-03-01', 10141556, 1, 2, 6, 1],
 ['2020-03-01', 10141593, 3, 6, 2, 2],
 ['2020-03-01', 10143115, 2, 4, 8, 2],
 ['2020-03-02', 10141854, 2, 1, 6, 2],
 ['2020-03-02', 10142243, 2, 6, 3, 3],
 ['2020-03-02', 10142454, 3, 5, 3, 1],
 ['2020-03-02', 10142553, 3, 6, 4, 1],
 ['2020-03-03', 10142194, 1, 3, 3, 1],
 ['2020-03-03', 10142783, 3, 3, 5, 1],
 ['2020-03-03', 10142932, 2, 2, 5, 3],
 ['2020-03-03', 10143340, 4, 2, 4, 1],
 ['2020-03-03', 10143430, 1, 2, 6, 3],
 ['2020-03-03', 10143474, 2, 5, 5, 3],
 ['2020-03-03', 10143609, 3, 1, 1, 3],
 ['2020-03-04', 10141620, 1, 1, 2, 2],
 ['2020-03-04', 10141917, 4, 2, 3, 2],
 ['2020-03-04', 10142333, 3, 2, 3, 2],
 ['2020-03-04', 10142460, 4, 4, 2, 1],
 ['2020-03-04', 10142506, 4, 4, 6, 3],
 ['2020-03-04', 10142998, 3, 4, 4, 3],
 ['2020-03-04', 10143330, 4, 3, 8, 1],
 ['2020-03-05', 10141830, 4, 3, 1, 1],
 ['2020-03-05', 10142766, 2, 6, 6, 1],
 ['2020-03-06', 10141720, 1, 2, 5, 2],
 ['2020-03-06', 10142356, 1, 6, 4, 1],
 ['2020-03-06', 10142374, 2, 2, 6, 3],
 ['2020-03-06', 10142383, 3, 3, 8, 3],
 ['2020-03-06', 10142784, 2, 6, 1, 3],
 ['2020-03-06', 10143583, 3, 3, 4, 3],
 ['2020-03-07', 10142731, 4, 6, 1, 1],
 ['2020-03-07', 10142748, 2, 6, 2, 1],
 ['2020-03-07', 10143167, 3, 2, 4, 2],
 ['2020-03-07', 10143331, 4, 3, 5, 2],
 ['2020-03-08', 10142397, 3, 2, 2, 2],
 ['2020-03-08', 10143179, 2, 4, 5, 1],
 ['2020-03-09', 10141998, 3, 3, 4, 3],
 ['2020-03-09', 10142039, 3, 2, 8, 3],
 ['2020-03-09', 10142257, 4, 2, 6, 2],
 ['2020-03-09', 10142264, 2, 1, 7, 1],
 ['2020-03-09', 10142682, 2, 2, 8, 2],
 ['2020-03-09', 10142985, 1, 6, 6, 2],
 ['2020-03-09', 10143477, 1, 5, 3, 2],
 ['2020-03-10', 10141933, 3, 6, 6, 2],
 ['2020-03-10', 10141975, 2, 6, 2, 3],
 ['2020-03-10', 10142050, 4, 6, 7, 1],
 ['2020-03-10', 10142465, 1, 1, 8, 1],
 ['2020-03-10', 10142594, 3, 1, 6, 2],
 ['2020-03-10', 10142781, 3, 1, 6, 3],
 ['2020-03-10', 10142785, 2, 3, 7, 2],
 ['2020-03-10', 10143085, 3, 2, 8, 2],
 ['2020-03-10', 10143416, 1, 6, 2, 3],
 ['2020-03-10', 10143457, 4, 6, 3, 1],
 ['2020-03-11', 10142116, 4, 1, 7, 3],
 ['2020-03-11', 10142128, 2, 2, 6, 3],
 ['2020-03-11', 10142424, 3, 5, 4, 1],
 ['2020-03-11', 10143415, 3, 3, 6, 2],
 ['2020-03-12', 10141529, 1, 3, 7, 3],
 ['2020-03-12', 10142164, 3, 6, 4, 3],
 ['2020-03-12', 10143197, 3, 1, 5, 2],
 ['2020-03-13', 10141730, 2, 3, 3, 1],
 ['2020-03-13', 10141809, 1, 1, 6, 2],
 ['2020-03-13', 10142523, 4, 4, 8, 2],
 ['2020-03-13', 10142570, 2, 3, 1, 3],
 ['2020-03-13', 10142732, 3, 1, 7, 2],
 ['2020-03-13', 10143100, 4, 3, 4, 2],
 ['2020-03-13', 10143287, 4, 6, 7, 3],
 ['2020-03-13', 10143410, 4, 1, 4, 1],
 ['2020-03-13', 10143485, 3, 6, 4, 3],
 ['2020-03-13', 10143510, 1, 2, 2, 1],
 ['2020-03-13', 10143554, 1, 1, 4, 2],
 ['2020-03-14', 10141683, 3, 1, 4, 2],
 ['2020-03-14', 10141850, 2, 6, 8, 1],
 ['2020-03-14', 10142062, 3, 1, 1, 2],
 ['2020-03-14', 10142430, 2, 5, 5, 2],
 ['2020-03-14', 10142484, 3, 2, 3, 1],
 ['2020-03-14', 10142541, 4, 1, 5, 1],
 ['2020-03-14', 10142680, 3, 1, 7, 3],
 ['2020-03-14', 10143523, 2, 3, 6, 1],
 ['2020-03-15', 10141824, 1, 1, 1, 2],
 ['2020-03-15', 10141910, 1, 5, 2, 2],
 ['2020-03-15', 10141955, 1, 5, 7, 2],
 ['2020-03-15', 10142143, 4, 1, 6, 2],
 ['2020-03-15', 10142661, 2, 2, 6, 2],
 ['2020-03-15', 10143290, 3, 6, 3, 2],
 ['2020-03-15', 10143451, 3, 4, 2, 1],
 ['2020-03-16', 10141713, 3, 5, 7, 2],
 ['2020-03-16', 10141786, 3, 4, 7, 3],
 ['2020-03-17', 10141534, 2, 5, 1, 1],
 ['2020-03-17', 10141766, 3, 5, 7, 3],
 ['2020-03-17', 10141885, 1, 1, 1, 1],
 ['2020-03-17', 10142226, 3, 3, 5, 2],
 ['2020-03-17', 10142813, 2, 6, 1, 1],
 ['2020-03-18', 10141798, 3, 2, 2, 2],
 ['2020-03-18', 10141941, 1, 2, 3, 3],
 ['2020-03-18', 10143372, 3, 5, 5, 3],
 ['2020-03-18', 10143402, 1, 1, 6, 2],
 ['2020-03-19', 10141574, 4, 4, 1, 3],
 ['2020-03-19', 10142670, 1, 4, 5, 1],
 ['2020-03-19', 10143024, 1, 4, 2, 1],
 ['2020-03-19', 10143478, 3, 5, 4, 2],
 ['2020-03-19', 10143538, 4, 1, 3, 1],
 ['2020-03-20', 10141869, 3, 5, 2, 2],
 ['2020-03-20', 10141959, 3, 3, 1, 2],
 ['2020-03-20', 10141967, 1, 5, 8, 1],
 ['2020-03-20', 10142136, 3, 1, 3, 3],
 ['2020-03-20', 10142504, 3, 2, 5, 3],
 ['2020-03-21', 10141643, 2, 4, 4, 1],
 ['2020-03-21', 10141865, 1, 2, 8, 2],
 ['2020-03-21', 10141989, 3, 2, 1, 1],
 ['2020-03-21', 10142013, 2, 4, 3, 3],
 ['2020-03-21', 10142222, 3, 3, 2, 3],
 ['2020-03-21', 10142318, 2, 1, 3, 3],
 ['2020-03-21', 10142347, 2, 5, 8, 1],
 ['2020-03-21', 10142550, 2, 5, 2, 1],
 ['2020-03-21', 10142864, 4, 5, 8, 1],
 ['2020-03-21', 10142982, 3, 6, 7, 2],
 ['2020-03-22', 10141856, 1, 4, 4, 2],
 ['2020-03-22', 10141895, 4, 4, 6, 3],
 ['2020-03-22', 10143041, 3, 2, 6, 3],
 ['2020-03-22', 10143359, 1, 1, 3, 1],
 ['2020-03-22', 10143432, 2, 5, 7, 2],
 ['2020-03-23', 10141704, 3, 1, 7, 1],
 ['2020-03-23', 10142015, 3, 2, 5, 1],
 ['2020-03-23', 10142033, 1, 5, 5, 3],
 ['2020-03-23', 10143051, 4, 6, 4, 1],
 ['2020-03-23', 10143194, 3, 4, 5, 1],
 ['2020-03-23', 10143210, 3, 5, 3, 3],
 ['2020-03-23', 10143282, 1, 5, 5, 1],
 ['2020-03-23', 10143438, 3, 1, 6, 2],
 ['2020-03-24', 10142018, 2, 4, 8, 1],
 ['2020-03-24', 10142225, 1, 1, 1, 1],
 ['2020-03-24', 10142297, 3, 3, 2, 1],
 ['2020-03-24', 10142726, 3, 4, 5, 3],
 ['2020-03-24', 10143598, 3, 6, 7, 3],
 ['2020-03-25', 10142113, 2, 6, 4, 1],
 ['2020-03-25', 10142169, 3, 4, 1, 2],
 ['2020-03-25', 10142261, 3, 1, 2, 1],
 ['2020-03-25', 10142776, 3, 5, 4, 1],
 ['2020-03-26', 10141784, 3, 4, 1, 1],
 ['2020-03-26', 10141961, 4, 1, 7, 1],
 ['2020-03-26', 10142156, 1, 2, 6, 1],
 ['2020-03-26', 10142371, 2, 1, 5, 3],
 ['2020-03-26', 10142414, 1, 4, 6, 1],
 ['2020-03-26', 10142666, 3, 2, 4, 1],
 ['2020-03-26', 10142700, 3, 6, 1, 3],
 ['2020-03-26', 10142811, 3, 5, 2, 2],
 ['2020-03-26', 10143074, 2, 2, 2, 1],
 ['2020-03-26', 10143081, 1, 6, 6, 2],
 ['2020-03-27', 10141788, 1, 3, 7, 3],
 ['2020-03-27', 10142432, 2, 6, 5, 3],
 ['2020-03-27', 10142946, 2, 3, 5, 3],
 ['2020-03-27', 10142970, 2, 4, 2, 3],
 ['2020-03-28', 10141510, 3, 4, 2, 1],
 ['2020-03-28', 10141519, 3, 6, 8, 1],
 ['2020-03-28', 10141858, 4, 1, 1, 2],
 ['2020-03-28', 10142362, 2, 5, 4, 2],
 ['2020-03-28', 10142757, 4, 2, 4, 3],
 ['2020-03-28', 10143429, 2, 4, 2, 1],

In [119]:
query = """INSERT INTO `pesquisa` (data_pesquisa, cod_pessoa, cod_animal_estimacao, cod_bebida, cod_hobbie, cod_clima) 
            VALUES (%s, %s, %s, %s, %s, %s)
        """ 

try:
    inserir(query,coleta_db)
    print(f"Pesquisa inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Pesquisa inserido com sucesso: