In [1]:
!pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.1.0-cp39-cp39-win_amd64.whl (180 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [9]:
!pip install flask_sqlalchemy

Collecting flask_sqlalchemy
  Downloading Flask_SQLAlchemy-2.5.1-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: SQLAlchemy>=0.8.0 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from flask_sqlalchemy) (1.4.31)
Collecting Flask>=0.10
  Downloading Flask-2.0.3-py3-none-any.whl (95 kB)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from SQLAlchemy>=0.8.0->flask_sqlalchemy) (1.1.2)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.0.1-py3-none-any.whl (18 kB)
Requirement already satisfied: Jinja2>=3.0 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (3.0.3)
Requirement already satisfied: click>=7.1.2 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (8.0.3)
Collecting Werkzeug>=2.0
  Downloading Werkzeug-2.0.3-py3-none-any.whl (289 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from Jinja2>=3.0->Flask>=0.10->flask_sqlalchemy) (2.0.1)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages (from click>=7.1.2->Flask>=0.10->flask_sqlalchemy) (0.4.4)
Installing collected packages: itsdangerous, Werkzeug, Flask, flask-sqlalchemy
Successfully installed Flask-2.0.3 Werkzeug-2.0.3 flask-sqlalchemy-2.5.1 itsdangerous-2.0.1

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\scripts\python.exe -m pip install --upgrade pip' command.

In [27]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import os
import pymysql.cursors
# from flask_sqlalchemy import SQLAlchemy

In [3]:
# https://pypi.org/project/PyMySQL/
conn  = pymysql.connect(host='localhost',
                             user='root',
                             password='123',
                             database='trabalho_pratico',
                             cursorclass=pymysql.cursors.DictCursor)
def inserir(sql, value):
    connection  = pymysql.connect(host='localhost',
                             user='root',
                             password='123',
                             database='trabalho_pratico',
                             cursorclass=pymysql.cursors.DictCursor)
    with connection:
        with connection.cursor() as cursor:
            # Create a new record
            #sql = "INSERT INTO `bebida` (`bebida`) VALUES (%s)"
            #cursor.execute(sql, ('teste'))
            cursor.executemany(sql, value)

        # connection is not autocommit by default. So you must commit to save
        # your changes.
        connection.commit()

In [24]:
dataframe = pd.read_csv( 'unico_arquivo.csv', sep = ';', encoding='latin-1' )
dataframe

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte
2123,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte
2124,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV
2125,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros
2126,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros

In [5]:
df_pessoas = dataframe[['cod_pessoa','genero','data_nascimento']].drop_duplicates()
df_animal = list(dataframe.animal_estimacao.unique())
df_bebida = list(dataframe.bebida_favorita.unique())
df_clima = list(dataframe.clima.unique())
df_hobbie = list(dataframe.hobbies.unique())

In [6]:
df_pessoas[:10]

   cod_pessoa     genero data_nascimento
0    10141743  Masculino      1981-04-25
1    10141860   Feminino      1966-01-19
2    10142548  Masculino      1973-08-02
3    10142591  Masculino      1997-03-05
4    10142654   Feminino      1969-08-05
5    10141523   Feminino      1998-09-24
6    10141996   Feminino      1973-03-13
7    10142089   Feminino      1970-03-23
8    10142145  Masculino      1998-08-01
9    10142520  Masculino      1994-05-09

In [7]:
df_animal[:10]

['peixe', 'tartaruga', 'gato', 'cachorro']

In [11]:
query = f"""INSERT INTO pessoa VALUES (%s,%s,%s)"""
pessoas = []
for pessoa in df_pessoas.itertuples():
    cod_pessoa = pessoa.cod_pessoa
    genero = pessoa.genero
    data_nascimento = pessoa.data_nascimento
    pessoas.append([cod_pessoa, genero, data_nascimento])


try:
    inserir(query,pessoas)
    print(f"Registro inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Registro inserido com sucesso:

In [12]:
df_hobbie

['Praticar esporte',
 'Assistir TV',
 'Ler livros',
 'Aprender algo novo',
 'Escrever',
 'Pintar quadros',
 'Dormir',
 'Escutar música']

In [13]:
query = f"""INSERT INTO hobbie (hobbie) VALUES (%s)"""
hobbies = []
for hobbie in df_hobbie:
    hobbies.append([hobbie])
    
hobbies
try:
    inserir(query,hobbies)
    print(f"Registro inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Registro inserido com sucesso:

In [14]:
query = f"""INSERT INTO clima (clima) VALUES (%s)"""
climas = []
for clima in df_clima:
    climas.append([clima])


try:
    inserir(query,climas)
    print(f"Clima inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Clima inserido com sucesso:

In [15]:
query = f"""INSERT INTO bebida (bebida) VALUES (%s)"""
bebidas = []
for bebida in df_bebida:
    bebidas.append([bebida])


try:
    inserir(query,bebidas)
    print(f"Bebida inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Bebida inserido com sucesso:

In [16]:
query = f"""INSERT INTO animal_estimacao (animal) VALUES (%s)"""
animais = []
for animal in df_animal:
    animais.append([animal])


try:
    inserir(query,animais)
    print(f"Animais inserido com sucesso: ")
except Exception as e:
        print(f"Não foi possível inserir o registro . O erro encontrado foi: {e}")

Animais inserido com sucesso:

In [23]:
lista_df = []
for arquivo in lista_path:
    local_arquivo = os.path.join(DIRETORIO, arquivo)
    df = pd.read_csv( local_arquivo, sep = '|', encoding='latin-1' )
    lista_df.append(df)
df_vendas = pd.concat(lista_df)

NameError: name 'lista_path' is not defined

In [8]:
df_vendas[:10]

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
0,10141523,2020-01-02,Feminino,1998-09-24,gato,quente,Cerveja,Aprender algo novo
1,10141996,2020-01-02,Feminino,1973-03-13,tartaruga,quente,refrigerante,Escrever
2,10142089,2020-01-02,Feminino,1970-03-23,gato,moderado,Água,Pintar quadros
3,10142145,2020-01-02,Masculino,1998-08-01,peixe,frio,refrigerante,Escrever
4,10142520,2020-01-02,Masculino,1994-05-09,peixe,moderado,Café,Praticar esporte

# Exportando para arquivo

In [10]:
df_vendas.to_csv('unico_arquivo.csv', sep = ';', encoding='latin-1', index=False)

In [72]:
sql = "SELECT * FROM `animal_estimacao`"
animais = pd.read_sql(sql, conn)
print(animais)

   cod_animal_estimacao     animal
0                     1      peixe
1                     2  tartaruga
2                     3       gato
3                     4   cachorro

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [19]:
sql = "SELECT * FROM `bebida`"
bebidas = pd.read_sql(sql, conn)
print(bebidas)

                  bebida
cod_bebida
1                Cerveja
2                   Café
3           refrigerante
4                   Água
5                  Vinho
6                    Chá

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [73]:
sql = "SELECT * FROM `clima`"
climas = pd.read_sql(sql, conn)
print(climas)

   cod_clima     clima
0          1      frio
1          2    quente
2          3  moderado

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [69]:
sql = "SELECT * FROM `hobbie`"
hobbies = pd.read_sql(sql, conn)
hobbies

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   cod_hobbie              hobbie
0           1    Praticar esporte
1           2         Assistir TV
2           3          Ler livros
3           4  Aprender algo novo
4           5            Escrever
5           6      Pintar quadros
6           7              Dormir
7           8      Escutar música

In [74]:
sql = "SELECT * FROM `pessoa`"
dfpessoa = pd.read_sql(sql, conn)
print(dfpessoa[:10])

   cod_pessoa     genero data_nascimento
0    10141501   Feminino      1984-05-22
1    10141502  Masculino      1998-06-27
2    10141503  Masculino      1963-02-18
3    10141504  Masculino      1979-09-09
4    10141505  Masculino      1958-10-04
5    10141506  Masculino      1982-12-19
6    10141507  Masculino      1961-05-22
7    10141508  Masculino      1957-09-23
8    10141509  Masculino      1979-09-24
9    10141510  Masculino      1978-11-29

c:\users\brito\documents\igti\bootcamp - engenharia de dados\modulo2\projetos\env\trabalho_pratico\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [71]:
coleta = dataframe

dict_hobbie = hobbies.set_index(hobbies.hobbie)['cod_hobbie'].to_dict()
dict_hobbie

{'Praticar esporte': 1,
 'Assistir TV': 2,
 'Ler livros': 3,
 'Aprender algo novo': 4,
 'Escrever': 5,
 'Pintar quadros': 6,
 'Dormir': 7,
 'Escutar música': 8}